{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
  <div>
    <h1>Welcome to the Homepage</h1>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="{% url 'homepage' %}">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br><br>
      <input type="submit" value="Login">
    </form>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'admin:index' %}">Admin Login</a>
  </div>
</body>
</html>
